* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: blanchedalmond;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}
.container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 2vh;
    text-align: center;
    font-size: 200%;
    background-color: rgba(25, 22, 22, 0.719);
    color: rgba(208, 9, 9, 0.944);
}
#quotation {
    font-style: italic;
}
button { 
    background-color: rgba(62, 0, 128, 0.891);
    padding: 10px;
    color: white;
    font-weight: bold;
}